# Environments
.env
.venv
env/
venv/

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
build/
dist/
*.egg-info/
.eggs/

# Frontend / Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
dist/
build/
.next/
.nuxt/

# IDE / OS
.vscode/
.idea/
.DS_Store
*.swp

# Docker
docker-data/
